<%= turbo_frame_tag dom_id(article) do %>
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= action_name == 'index' ? article.title.truncate(4) : article.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Content:</strong>
      <%= action_name == 'index' ? article.content.truncate(4) : article.content %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">User:</strong>
      <%= article.user.email %>
    </p>

    <%= current_user_tmp = nil %>
    <% if current_user_tmp&.present? %>
      <%= turbo_frame_tag 'likes' do %>
        <%= render  "articles/like", article: article %>
      <% end %>
    <% end %>
    

    <% if action_name == 'index' %>
      <p>
        <%= link_to "Show this article", article, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>


    <% end %>

      <%= link_to "Edit this article", edit_article_path(article), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= link_to "Destroy this article", article, data: { turbo_method: :delete }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>

  </div>
<% end %>

<hr>
